.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__pc1J0 {
  width: 100%;
  height: auto;
  max-width: var(--token-t_xM7I76NXC2);
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox__pc1J0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__pc1J0 > :global(.__wab_flex-container) > *,
.freeBox__pc1J0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pc1J0 > :global(.__wab_flex-container) > picture > img,
.freeBox__pc1J0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pc1J0 {
    width: 100%;
    height: auto;
    max-width: var(--token-t_xM7I76NXC2);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pc1J0 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pc1J0 > :global(.__wab_flex-container) > *,
  .freeBox__pc1J0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pc1J0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__pc1J0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__a9Rq9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__a9Rq9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__a9Rq9 > :global(.__wab_flex-container) > *,
.freeBox__a9Rq9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a9Rq9 > :global(.__wab_flex-container) > picture > img,
.freeBox__a9Rq9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a9Rq9 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a9Rq9 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a9Rq9 > :global(.__wab_flex-container) > *,
  .freeBox__a9Rq9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__a9Rq9 > :global(.__wab_flex-container) > picture > img,
  .freeBox__a9Rq9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__rGjB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__hrfGc {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hrfGc {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__awg5H {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__awg5H {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__cwJ9O {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cwJ9O {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox___4Mvbz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___4Mvbz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___4Mvbz > :global(.__wab_flex-container) > *,
.freeBox___4Mvbz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Mvbz > :global(.__wab_flex-container) > picture > img,
.freeBox___4Mvbz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__kSzU2:global(.__wab_instance) {
  position: relative;
}
.svg__m2X7K {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___9D80H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__fIgJi:global(.__wab_instance) {
  position: relative;
}
.svg__z41I5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__xoElA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__cAt1S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__cyU {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__cyU > picture > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__sTmd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sTmd {
    width: 100%;
  }
}
.freeBox__wHzlo {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wHzlo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__wHzlo > :global(.__wab_flex-container) > *,
.freeBox__wHzlo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wHzlo > :global(.__wab_flex-container) > picture > img,
.freeBox__wHzlo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wHzlo {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wHzlo > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___4WrLy {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text___86SL {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__ekaKe:global(.__wab_instance) {
  position: relative;
}
.svg___902M {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__hf24S {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___7XC0U:global(.__wab_instance) {
  position: relative;
}
.svg__pggaC {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__xsRSf {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__wc1X0:global(.__wab_instance) {
  position: relative;
}
.svg__f3ZxV {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__bljUi {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__svRj5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__svRj5 {
    width: 100%;
  }
}
.img__g7Goa {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__g7Goa > picture > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__wjrR {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__wjrR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__wjrR > :global(.__wab_flex-container) > *,
.freeBox__wjrR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wjrR > :global(.__wab_flex-container) > picture > img,
.freeBox__wjrR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__dj6Fj:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xK4 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-E0ea1zz9pqwe);
}
.svg___9OOfn {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__qB5Ou:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gwHuf {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-E0ea1zz9pqwe);
}
.svg__rTgR {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__zd3Yc:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xe1Y0 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-E0ea1zz9pqwe);
}
.svg__anMit {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__wXo74:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__o9Gkg {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-E0ea1zz9pqwe);
}
.svg__gaxyn {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__eakXa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___1A79C {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-E0ea1zz9pqwe);
}
.svg__ee6V {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__sx5N2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kn8G1 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-E0ea1zz9pqwe);
}
.svg___2BepG {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__qfKwz {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-QaPr4nlZFyK9);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox___9Kpqf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___9Kpqf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___9Kpqf > :global(.__wab_flex-container) > *,
.freeBox___9Kpqf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Kpqf > :global(.__wab_flex-container) > picture > img,
.freeBox___9Kpqf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__hH18 {
  display: flex;
  flex-direction: row;
}
.freeBox__hH18 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__hH18 > :global(.__wab_flex-container) > *,
.freeBox__hH18 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hH18 > :global(.__wab_flex-container) > picture > img,
.freeBox__hH18
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__ynsKe {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__uWiCp {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__qnPgm {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__dLoVa {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__bm7Cy {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
