.root {
  width: 100%;
  height: auto;
  max-width: var(--token-t_xM7I76NXC2);
  display: flex;
  position: relative;
  justify-content: center;
  background: #000000;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  min-width: 0;
  padding: 16px;
}
.link__w2Zx4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__jadrZ {
  object-fit: cover;
  height: 40px;
}
.img__jadrZ > picture > img {
  object-fit: cover;
}
.img__oRxEc {
  object-fit: cover;
}
.img__oRxEc > picture > img {
  object-fit: cover;
}
.img__iiJbJ {
  object-fit: cover;
}
.img__iiJbJ > picture > img {
  object-fit: cover;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
.link__gAomh {
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__aRCu {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__juaXe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__k8GF9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.link__mvTwO {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  color: var(--token-maWCPk1v_oCK);
}
.link__i0GS {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  color: var(--token-maWCPk1v_oCK);
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__axhxy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__z49FQ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
