.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__lHdvV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__w1JLt {
  display: flex;
  flex-direction: column;
}
.freeBox__w1JLt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__w1JLt > :global(.__wab_flex-container) > *,
.freeBox__w1JLt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w1JLt > :global(.__wab_flex-container) > picture > img,
.freeBox__w1JLt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--token-NEon4Y--Z);
}
.text__cxlgx {
  font-size: 48px;
}
.freeBox__vFurg {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__vFurg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vFurg > :global(.__wab_flex-container) > *,
.freeBox__vFurg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vFurg > :global(.__wab_flex-container) > picture > img,
.freeBox__vFurg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__jNut:global(.__wab_instance) {
  position: relative;
}
.bullet__udxW:global(.__wab_instance) {
  position: relative;
}
.bullet__lIu9A:global(.__wab_instance) {
  position: relative;
}
.freeBox___1JiWu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button__uvfhR:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__wy0Sm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wkj24 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pDhIz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
