.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__eBz0K {
  width: 100%;
  height: auto;
  max-width: var(--token-t_xM7I76NXC2);
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__eBz0K > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__eBz0K > :global(.__wab_flex-container) > *,
.freeBox__eBz0K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eBz0K > :global(.__wab_flex-container) > picture > img,
.freeBox__eBz0K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__oAeai {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__oAeai > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__oAeai > :global(.__wab_flex-container) > *,
.columns__oAeai > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__oAeai > :global(.__wab_flex-container) > picture > img,
.columns__oAeai
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__oAeai {
  --plsmc-rc-col-gap: 0px;
}
.columns__oAeai > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__oAeai > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oAeai {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oAeai > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oAeai > :global(.__wab_flex-container) > *,
  .columns__oAeai > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__oAeai > :global(.__wab_flex-container) > picture > img,
  .columns__oAeai
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oAeai > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__kAiE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kAiE {
    width: 100%;
  }
}
.freeBox__mVjGc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__mVjGc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__mVjGc > :global(.__wab_flex-container) > *,
.freeBox__mVjGc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mVjGc > :global(.__wab_flex-container) > picture > img,
.freeBox__mVjGc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mVjGc {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mVjGc > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__cxyq0 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__hmBxe {
  position: relative;
  text-align: left;
}
.bullet__cYoYq:global(.__wab_instance) {
  position: relative;
}
.bullet__gXMy:global(.__wab_instance) {
  position: relative;
}
.bullet__gH7VE:global(.__wab_instance) {
  position: relative;
}
.text__nDd2H {
  position: relative;
  text-align: left;
}
.freeBox__lnOgx {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__lnOgx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__lnOgx > :global(.__wab_flex-container) > *,
.freeBox__lnOgx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lnOgx > :global(.__wab_flex-container) > picture > img,
.freeBox__lnOgx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lnOgx {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lnOgx > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lnOgx > :global(.__wab_flex-container) > *,
  .freeBox__lnOgx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lnOgx > :global(.__wab_flex-container) > picture > img,
  .freeBox__lnOgx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__f6PRy:global(.__wab_instance) {
  position: relative;
}
.svg__gXgqz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dxhxF {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__nJ9Vm:global(.__wab_instance) {
  position: relative;
}
.svg__hYggT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__fBfCs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__q65R4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__q65R4 {
    width: 100%;
  }
}
.img__l5Cng {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__l5Cng > picture > img {
  object-fit: cover;
}
.columns__uuPt {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__uuPt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__uuPt > :global(.__wab_flex-container) > *,
.columns__uuPt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__uuPt > :global(.__wab_flex-container) > picture > img,
.columns__uuPt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__uuPt {
  --plsmc-rc-col-gap: 0px;
}
.columns__uuPt > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__uuPt > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uuPt {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uuPt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uuPt > :global(.__wab_flex-container) > *,
  .columns__uuPt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__uuPt > :global(.__wab_flex-container) > picture > img,
  .columns__uuPt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uuPt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__j4DY9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__j4DY9 {
    width: 100%;
  }
}
.img__fcRUg {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__fcRUg > picture > img {
  object-fit: cover;
}
.column__nRwB3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__nRwB3 {
    width: 100%;
  }
}
.freeBox__odKu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__odKu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__odKu > :global(.__wab_flex-container) > *,
.freeBox__odKu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__odKu > :global(.__wab_flex-container) > picture > img,
.freeBox__odKu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__odKu {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__odKu > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___0E3Na {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__xfaTm {
  position: relative;
  text-align: left;
}
.bullet__ndLJn:global(.__wab_instance) {
  position: relative;
}
.bullet__fuxqv:global(.__wab_instance) {
  position: relative;
}
.bullet___1Vtge:global(.__wab_instance) {
  position: relative;
}
.text__nxhd9 {
  position: relative;
  text-align: left;
}
.freeBox__gtsUv {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__gtsUv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__gtsUv > :global(.__wab_flex-container) > *,
.freeBox__gtsUv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gtsUv > :global(.__wab_flex-container) > picture > img,
.freeBox__gtsUv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gtsUv {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gtsUv > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gtsUv > :global(.__wab_flex-container) > *,
  .freeBox__gtsUv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gtsUv > :global(.__wab_flex-container) > picture > img,
  .freeBox__gtsUv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__mr2Db:global(.__wab_instance) {
  position: relative;
}
.svg__d4Xqh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__lrwkz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__anjNs:global(.__wab_instance) {
  position: relative;
}
.svg___2VmT4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__woAeN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
