.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__stEfl {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-QaPr4nlZFyK9);
}
.freeBox__pCg5 {
  width: 100%;
  height: auto;
  max-width: var(--token-t_xM7I76NXC2);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__pCg5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__pCg5 > :global(.__wab_flex-container) > *,
.freeBox__pCg5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pCg5 > :global(.__wab_flex-container) > picture > img,
.freeBox__pCg5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pCg5 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pCg5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pCg5 > :global(.__wab_flex-container) > *,
  .freeBox__pCg5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pCg5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__pCg5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__k4F1Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__k4F1Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__k4F1Z > :global(.__wab_flex-container) > *,
.freeBox__k4F1Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__k4F1Z > :global(.__wab_flex-container) > picture > img,
.freeBox__k4F1Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__ewRlp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__iuPqr {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__sWayh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__rlW2H {
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__rlW2H:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__rZ1Pp {
  position: relative;
  font-size: 14px;
  color: var(--token-RTlDFgpT-Bir);
}
.link__sr109 {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__sr109:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__yEgS {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__yEgS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__yEgS > :global(.__wab_flex-container) > *,
.freeBox__yEgS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yEgS > :global(.__wab_flex-container) > picture > img,
.freeBox__yEgS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yEgS {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yEgS > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yEgS > :global(.__wab_flex-container) > *,
  .freeBox__yEgS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yEgS > :global(.__wab_flex-container) > picture > img,
  .freeBox__yEgS
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__uvFfj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__uvFfj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__uvFfj > :global(.__wab_flex-container) > *,
.freeBox__uvFfj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uvFfj > :global(.__wab_flex-container) > picture > img,
.freeBox__uvFfj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ek3S {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___52H9 {
  font-size: 14px;
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
}
.root .link___52H9:hover {
  color: var(--token-NEon4Y--Z);
}
.link__dc6K {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__dc6K:hover {
  color: var(--token-NEon4Y--Z);
}
.link__kavQt {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__kavQt:hover {
  color: var(--token-NEon4Y--Z);
}
.link___49SgK {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link___49SgK:hover {
  color: var(--token-NEon4Y--Z);
}
.link___1QpPy {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link___1QpPy:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__cXZj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__cXZj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cXZj > :global(.__wab_flex-container) > *,
.freeBox__cXZj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cXZj > :global(.__wab_flex-container) > picture > img,
.freeBox__cXZj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___63VPv {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__c5Jut {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__c5Jut:hover {
  color: var(--token-NEon4Y--Z);
}
.link__kCi0B {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__kCi0B:hover {
  color: var(--token-NEon4Y--Z);
}
.link__mpwKd {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__mpwKd:hover {
  color: var(--token-NEon4Y--Z);
}
.link__nd5Ls {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__nd5Ls:hover {
  color: var(--token-NEon4Y--Z);
}
.link__pllN {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__pllN:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__y7RO {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__y7RO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__y7RO > :global(.__wab_flex-container) > *,
.freeBox__y7RO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y7RO > :global(.__wab_flex-container) > picture > img,
.freeBox__y7RO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___9G6Lh {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__boTzT {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__boTzT:hover {
  color: var(--token-NEon4Y--Z);
}
.link__zdOn {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__zdOn:hover {
  color: var(--token-NEon4Y--Z);
}
.link__wsO9A {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__wsO9A:hover {
  color: var(--token-NEon4Y--Z);
}
.link__vgMex {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__vgMex:hover {
  color: var(--token-NEon4Y--Z);
}
.link__sdDu3 {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__sdDu3:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__cmRrj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__cmRrj > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cmRrj > :global(.__wab_flex-container) > *,
.freeBox__cmRrj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cmRrj > :global(.__wab_flex-container) > picture > img,
.freeBox__cmRrj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__sw9Vp {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text___82HCn {
  position: relative;
  font-size: 14px;
  color: var(--token-RTlDFgpT-Bir);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__ghhYr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg___09VE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  height: 1em;
}
.svg__gf7G6 {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__zJrt1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__y6RIz {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-QaPr4nlZFyK9);
}
.freeBox__l9PVs {
  width: 100%;
  height: auto;
  max-width: var(--token-t_xM7I76NXC2);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__l9PVs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l9PVs {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l9PVs > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l9PVs > :global(.__wab_flex-container) > *,
  .freeBox__l9PVs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__l9PVs > :global(.__wab_flex-container) > picture > img,
  .freeBox__l9PVs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__ltX {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__zreTt {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  height: auto;
  font-size: 14px;
}
.root .link__zreTt:hover {
  text-decoration-line: underline;
}
.link__p8XdH {
  position: relative;
  color: var(--token-RTlDFgpT-Bir);
  font-size: 14px;
}
.root .link__p8XdH:hover {
  text-decoration-line: underline;
}
.text__ayKbh {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-RTlDFgpT-Bir);
}
.freeBox__ltTeM {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ltTeM > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ltTeM > :global(.__wab_flex-container) > *,
.freeBox__ltTeM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ltTeM > :global(.__wab_flex-container) > picture > img,
.freeBox__ltTeM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink___5Yal1:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gMeiJ {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__gMeiJ:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__lHpC:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___9Ddxn {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg___9Ddxn:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__lCjek:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__eBzyU {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__eBzyU:hover {
  color: var(--token-dph1wZ7NjV9);
}
